<div class="box__container">
    <div class="box__container__header">
        <img src="../../../img/box-icon.png" alt="box icon" class="box__container__header__image">
        <img src="../../../img/oauth-icon.png" alt="O Auth 2 icon" class="box__container__header__image">
    </div>

    <div class="box__container__content">
        <div class="box__container__content__row">
            <button class="box__container__content__button" ng-click="$ctrl.toggleClientId()">{{$ctrl.idShowHideLabel}} Client ID</button>
            <span ng-show="$ctrl.showId">{{$ctrl.clientId}}</span>
        </div>

        <div class="box__container__content__row">
            <button class="box__container__content__button" ng-click="$ctrl.toggleClientSecret()">{{$ctrl.secretShowHideLabel}} Client Secret</button>
            <span ng-show="$ctrl.showSecret">{{$ctrl.clientSecret}}</span>
        </div>

        <div class="box__container__content__row">
            <input class="box__container__content__input"
                   placeholder="User Access Token"
                   ng-model="$ctrl.userAccessToken">
            <span>{{$ctrl.v2}}</span>
        </div>

        <input type="file" style="display: block" />
        <button>Open File Dialog</button>
    </div>
</div>
